@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

$max-size: 2rem;

:host {
  font-family: "Source Code Pro", monospace;
}

.ticker__icon {
  max-height: $max-size;

  & img {
    max-height: $max-size;
  }
}
