<td class="ticker__icon">
  <img
    [src]="ticker?.imageUrl"
    onerror="this.onerror=null; this.src='assets/icons/generic.svg'"
  />
</td>
<td>
  {{ ticker?.symbol }}
</td>
<td>
  {{ ticker?.price$ | async }}
  <ng-container [ngSwitch]="state$ | async">
    <ng-container *ngSwitchCase="State.UP">&uarr;</ng-container>
    <ng-container *ngSwitchCase="State.DOWN">&darr;</ng-container>
    <ng-container *ngSwitchCase="State.NOCHANGE">&#61;</ng-container>
  </ng-container>
</td>
<td>
  {{ rsi$ | async }}
</td>
<td>
  <ng-container [ngSwitch]="smaCross$ | async">
    <ng-container *ngSwitchCase="State.UP">&uarr;</ng-container>
    <ng-container *ngSwitchCase="State.DOWN">&darr;</ng-container>
    <ng-container *ngSwitchCase="State.NOCHANGE">&#61;</ng-container>
  </ng-container>
</td>
<td>
  <ng-container [ngSwitch]="signal$ | async">
    <ng-container *ngSwitchCase="State.UP">&uarr;</ng-container>
    <ng-container *ngSwitchCase="State.DOWN">&darr;</ng-container>
    <ng-container *ngSwitchCase="State.NOCHANGE">&#61;</ng-container>
  </ng-container>
</td>
