<div class="shadow p-3 mb-5 bg-body rounded">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="col-1">Icon</th>
        <th scope="col" class="col-3">Symbol</th>
        <th scope="col" class="col-8">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let ticker of tickers$ | async"
        app-ticker
        [ticker]="ticker"
      ></tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          Last update received:
          {{ lastUpdateEpoch$ | async | date: "medium" }}
        </td>
      </tr>
    </tfoot>
  </table>
</div>
